<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">BINGO</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <%= form_for @game, :html => { :class => 'form-inline' } do |f| %>
      <%= f.text_field :name, class: 'form-control mb-2 mr-sm-2', placeholder: 'Game name' %>
      <%= f.submit "Create", class: 'btn btn-primary mb-2' %>
    <% end %>
  </div>
</section>
