<div class="bingo-board-container text-center">
  <div class="row mb-3">
    <% ['B', 'I', 'N', 'G', 'O'].each do |letter| %>
      <div class="col fw-bold fs-2"><%= letter %></div>
    <% end %>
  </div>

  <div class="row bingo-grid">
    <% board_array = @game.board.to_a %>
    <% 5.times do |col| %>
      <div class="col px-1">
        <% 15.times do |row| %>
          <% num, selected = board_array[col * 15 + row] %>
          <div class="mb-2">
            <div id="num_<%= num %>" class="btn w-100 py-2 fs-6 border rounded <%= selected ? 'btn-primary text-white' : 'btn-light' %>">
              <%= num %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
