<div class="game-controls">
  <%= link_to t(:draw), draw_games_path(slug: @game.slug), :class => "btn btn-primary draw-number" %>

  <h2><%= t('players') %></h2>
  <ul>
    <% @game.players.each do |player| %>
      <li><%= player.name %></li>
    <% end %>
  </ul>
</div>
