<div class="game-controls">
  <div class="share-container">
    <label for="share-url">Share url</label>
    <input id="share-url" class="form-control" type="text" value="<%= @game.share_url %>" readonly>
  </div>
  <h2><%= t(:draw) %></h2>
  <%= link_to t(:draw),
    draw_games_path(slug: @game.slug),
    class: "btn btn-primary btn-lg w-100",
    data: { turbo_prefetch: "false" } %>
</div>
