<div class="game-controls">
  <div class="share-container">
    <label for="share-url">Share url</label>
    <input id="share-url" class="form-control" type="text" value="<%= @game.share_url %>" readonly>
  </div>

  <%= link_to t(:draw), draw_games_path(slug: @game.slug), class: "btn btn-primary draw-number" %>

  <h2><%= t('players') %></h2>
  <ul>
    <% @game.players.each do |player| %>
      <li>
        <%= link_to player.name, player_games_path(slug: @game.slug, id: player.id), class: "player-link"  %>
      </li>
    <% end %>
  </ul>

  <div class="player-card"></div>
</div>
