<h1><%= @game.name %></h1>

<ul class="board">
  <% @game.board.each_with_index do |(num, selected), index| %>
    <% if(index % 15 == 0) %>
      <li class="header"><%= ['B', 'I', 'N', 'G', 'O'][index / 15] %></li>
    <% end %>
    <li class="<%= selected ? 'selected' : '' %>"><%= num %></li>
  <% end %>
</ul>
