<div class="bingo-card-container text-center">
  <div class="row mb-3">
    <% ['B', 'I', 'N', 'G', 'O'].each do |letter| %>
      <div class="col fw-bold fs-2"><%= letter %></div>
    <% end %>
  </div>

  <div class="row bingo-grid">
    <% card_array = player.card.to_a %>
    <% 5.times do |col| %>
      <div class="col px-1">
        <% 5.times do |row| %>
          <% num, selected = card_array[col * 5 + row] %>
          <div class="mb-2">
            <% if num == :X %>
              <div class="btn w-100 py-3 fs-4 border rounded btn-light">X</div>
            <% else %>
              <%= link_to num, select_number_games_path(number: num), method: :post, class: "btn w-100 py-3 fs-4 border rounded #{selected ? 'btn-primary text-white' : 'btn-light'}" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
